#teller {
   display: block;
  margin: auto;
  // margin-right: auto;
  width: 15%;
  
}

#words {
  color: white;
}

.active {
  background: white;
  transform: scale(1.1);
  box-shadow: 0 0 10px white;
  border-radius: 10px;
  color: black;
}

body {
  background-color: black;
}